@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #4f46e5;
  --primary-hover: #4338ca;
  --bg-color: #f8fafc;
  --text-color: #1e293b;
  --text-muted: #64748b;
  --nav-bg: rgba(255, 255, 255, 0.85);
  --border-color: #e2e8f0;
  
  --lost-color: #ef4444;
  --found-color: #10b981;
}
